# All of the smaller masks used for Into the Depths are defined here
# to reduce file count and attempt to conserve space

#define DEPTHS_CHASM_MASK
    "border_size=0
usage=mask

_f, Uu   , Uu , Uu     , Uu     , Qxu    , _f    , _f
_f, Uu^Ii, Uu , Qxu^Ii , Qxu^Bs\, Qxu^Bs\, Qxu   , _f
_f, Uu   , Uu , Qxu^Bs\, Qxu    , Qxu    , Uu    , Uu
_f, _f   , Qxu, _f     , Qxu^Bs\, Uu     , Uu    , Uu
_f, _f   , Qxu, Qxu    , Qxu    , Uu     , Uu^Vud, _f"
#enddef

#define DEPTHS_GROVE_MASK
    "border_size=0
usage=mask

_f    , _f    , _f    , Xu    , _f    , Uu    , Uu    , Uu    , _f    , _f
_f    , Uu    , _f    , Uh    , Uu    , Uu^Ii , Uu    , Xu    , _f    , _f
Uu    , Uu    , Uh    , Ur    , Ur    , Ur    , Uu^Uf , Uu^Uf , _f    , _f
_f    , Ur    , Ur    , Uu^Uf , Uu^Uf , Uu^Uf , Ur    , Ur    , Uu    , Xu
Xu    , Ur    , Uu^Uf , Uu^Uf , Uu^Ufi, Uu    , _f    , Ur    , Uh    , Uu
Uu    , Uu^Ii , Ur    , Uu^Uf , Uu^Uf , Uu^Uf , Uu^Uf , Ur    , Uu    , Uu
_f    , Uu    , _f    , Ur    , Uu^Uf , Uu^Ufi, Uu    , Ur    , Uu^Uf , Qxu
_f    , Uh    , Ur    , Ur    , Uh    , Ur    , Ur    , Uu^Uf , Uu^Uf , _f
_f    , _f    , Uu    , Uu    , Ur^Ii , _f    , Uu    , Uu    , Uu    , Uu
_f    , _f    , Uu    , _f    , Qxu   , _f    , _f    , _f    , Uh    , _f"
#enddef

#define DEPTHS_KEEP_MASK
    "border_size=0
usage=mask

_f    , _f    , Ur     , Ur    , _f    , Kud
_f    , Wuw   , Wuw^Bw|, Wuw   , Cud   , Cud
_f    , Wuw   , Uu^Uf  , Wuw   , Wuw   , Ur
_f    , Wuw   , Wuw    , Wuw   , Wuw   , _f
_f    , _f    , Ur     , _f    , _f    , _f"
#enddef

#define DEPTHS_POOL_MASK
    "border_size=0
usage=mask

_f , Wuw, Wuw, _f
Wuw, _f , Wuw, Wuw
Wuw, Wuw, Wuw, Uu^Ufi
_f , Wuw, Wuw, _f"
#enddef

#define DEPTHS_LAKE_MASK
    "border_size=0
usage=mask

_f   , Wuw  , _f   , Wuw  , _f   , Wuw  , Uu^Uf, Wuw  , Wuw  , _f
_f   , _f   , Wuw  , Wuw  , Wuw  , Wuw  , Wuw  , Wuw  , Wuw  , _f
_f   , Wuf  , Wuw  , Wuw  , Wuw  , Wuo  , Wuo  , Wuo  , Wuw  , Wuw
Wuw  , Wuw  , Wuf  , _f   , Wuw  , Wuo  , Wuo  , Wuw  , Wuw  , Wuw
Wuw  , Wuw  , Uu^Uf, _f   , Wuw  , Wuw  , Wuo  , Wuw  , Wuw  , _f
Wuw  , Wuw  , Wuw  , Wuw  , Wuw  , Wuo  , Wuw  , Wuw  , Wuf  , _f
_f   , Uu^Uf, Wuw  , Wuw  , Wuw  , Wuw  , Wuw  , Wuw  , _f   , _f
_f   , _f   , Wuw  , Uu^Uf, Wuw  , Wuw  , Wuw  , _f   , Wuw  , _f"
#enddef
